@import url(https://fonts.googleapis.com/css?family=Lobster);
/* latin-ext */
@font-face {
    font-family: 'Dynalight';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/dynalight/v18/1Ptsg8LOU_aOmQvTsF44Q4FqPfE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
@font-face {
    font-family: 'Dynalight';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/dynalight/v18/1Ptsg8LOU_aOmQvTsF44TYFq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.body-allsp {
    background-color: #f0f0f0;
    width: 100%;
}

.container-body {
    background-color: #f0f0f0;
    max-width: 1200px;
    width: 100%;
    min-width: 1200px;
    margin: 10px auto;
    position: relative;
}

.categories_all {
    width: 245px;
    float: left;
    background: #fff;
    overflow: visible;
    clear: both;
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    height: 320px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 1.5rem ;
}
.homebanner {
    float: left;
    width: 680px;
    height: 320px;
    overflow: hidden;
    position: relative;
    background: #f0f0f0;
    margin-bottom: 15px;
}
.homenews {
    float: right;
    width: 270px;
    height: 320px;
    overflow: hidden;
}
.clearfix {
    display: block;
}.clr {
    clear: both;
}
.categories {
    list-style: none;
    width: 100%;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.hassub {
    line-height: 40px;
    height: 40px;
    position: relative;
}

.hassub:hover{
    color: rgb(51, 51, 236);
    background-color: #dddddd;
}

.icon-categories {
    margin-right: 10px;
    margin-left: 20px;
}

.hassub >span::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid #999;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: 10px;
    top: 15px;
}

.categories-list-one,
.categories-list-two,
.categories-list-three,
.categories-list-four {
    list-style: none;
    color: #333;
    width: 250px;
    display: none;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    transform: translateX(100%);
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.25);
    z-index: 10;
}

.hassup-one:hover .categories-list-one,
.hassup-two:hover .categories-list-two,
.hassup-three:hover .categories-list-three,
.hassup-four:hover .categories-list-four {
    display: block;
}

.owl-carousel-center {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
}

.categories-icon {
    position: absolute;
    top: 38%;
    display: none;
    transform: 0.4s;
    zoom: 1;
    padding: 4px 5px;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0,0,0,.3);
    width: 48px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.owl-carousel-center:hover .categories-icon {
    display: block;
}

.categories-icon-l {
    position: absolute;
    left: 10px;
}

.categories-icon-r {
    position: absolute;
    right: 10px;
}

.container-item-nav {
    position: absolute;
    padding: 10px 0 0;
    margin: 0;
    top: 30%;
    border-radius: 0 5px 5px 0;
    background: #fff;
    width: 34px;
    height: 36px;
    text-align: center;
    font-size: 20px;
    color: #999;
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 15%);
    transition: 0.2s;
}

.container-item-nav:hover {
    transform: scale(1.2);
}

.fa-angle-left {
    left:-28px;
}

.fa-angle-right {
    right: -28px;
}

.main-one {
    background-color: #ffff;
    width: 100%;
    margin: 20px 0;
    height: 400px;
    box-shadow: 0px 0px 15px 0px #d6d6d6;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
}

.main-header {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: #465678;
    color: transparent;
    text-shadow: 0px 8px 6px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
    font-family: 'Lobster', cursive;
}

.owl-carousel-sp {
    padding: 0;
    width: 95%;
    margin: 0 auto;
}

.item-span {
    color: #666;
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
}

.item-span i {
    margin-right: 5px;
}

.home-product__danhmuc {
    background-color: #ffff;
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.home-product__danhmuc-img {
    width: 90%;
    height:auto;
    margin: 15px auto;
    transition: 0.2s;
}

.home-product__danhmuc-link:hover .home-product__danhmuc-name {
    text-shadow: 0 0 0.2em #F87;
}
.home-product__danhmuc-link:hover .home-product__danhmuc-img{
    transform: translateY(-10px);
    filter: blur(0.5px);
}
.home-product__danhmuc-link:hover .home-product__danhmuc {
    box-shadow: rgba(113, 113, 113, 0.3) 0px 8px 5px;   
}

.home-product__danhmuc-price {
    display: block;
    overflow: hidden;
    padding: 5px 10px 10px 10px
}
.home-product__danhmuc-price-new{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 1.4rem;
    color: #e10c00;
    line-height: 15px;
    font-weight: 600;
}
.home-product__danhmuc-price-old{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 5px;
    color: #222;
    font-weight: normal
}

.promotion {
    display: block;
    max-height: 36px;
    overflow: hidden;
    padding-left: 5px;
}

.home-product__danhmuc-name {
    display: block;
    line-height: 1.3em;
    min-height: 36px;
    font-size: 14px;
    padding: 0 10px;
    color: #111;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.neon { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    cursor: pointer;
    border: none;
    font: normal 55px/normal "Dynalight", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    line-height:var(--header-height) ;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    animation: textshadow 1s ease-out infinite;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes textshadow {
    0% {
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    
    }
    100% {
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
    }
    0% {
        text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #42d8cb , 0 0 70px #ff00de , 0 0 80px #28dae0 , 0 0 100px #00ffaa ;
    }
}
  
/* .neon:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
} */

@media only screen and (min-width: 412px) and (max-width: 1023px){
    .categories_all {
        display: none;
    }
    .body-allsp {
        margin-top: 125px;
    }
}

@media only screen and (max-width : 576px) {
    .body-allsp {
        display: none;
    }
    .section {
        margin-top: 125px;
    }
}

@media only screen and (max-width : 412px) {
    .body-allsp {
        display: none;
    }
    .body-allsp-mobile {
        margin-top: 125px;
    }
}

